<%= render :partial => 'shared/nav_top' %>


<%= react_component("MovementDice", {challenges: @challenges}) %>

<hr/>
<div class="container-fluid tmc-bg-dk-blu tmc-blu" style="padding: 10px;">
    <span> 
    <h2> 
Sample Course Plan </h2> 
    </span>
</div>

<br>


<%= react_component("CourseFrame", {lessonIDs: [15,24,23,21]}) %>


