@import "bootstrap";
@import "color_palette.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



h1 { color: #00A1E0; font-family: 'Montserrat', sans-serif;}
p{color: #2D465A; font-family: 'Montserrat', sans-serif;}
h3 {color: $grey;font-family: 'Montserrat', sans-serif;}
h4 {color: $grey;font-family: 'Montserrat', sans-serif;}
li {color: $grey;font-family: 'Montserrat', sans-serif;}
a{color: #E76F27;font-family: 'Montserrat', sans-serif;}
strong {color: $dk-blue; font-family: 'Montserrat', sans-serif;}
.tmc-bg-grey{background-color: $grey;}
.tmc-bg-dk-blu{background-color: $dk-blue;}
.tmc-orng{color: #E76F27; font-family: 'Montserrat', sans-serif;}
.tmc-white{color: white;font-family: 'Montserrat', sans-serif;}
.tmc-dk-blu{color: #2D465A; font-family: 'Montserrat', sans-serif;}
.tmc-blu{color: #00A1E0; font-family: 'Montserrat', sans-serif;}
.tmc-bg-blu{background-color: #00A1E0;}

.btn-primary{background-color: $blue ; border:0px ;font-family: 'Montserrat', sans-serif;}
.box-rnd{border-radius: 15px;}

.bg-img-home-ad{background-image: url('../../assets/images/pkPrivate.png'); background-size: cover; background-repeat: no-repeat;}
.bg-img-home-ad-wt{background-image: url('../../assets/images/woodTrainer.jpg'); background-size: cover; background-repeat: no-repeat;}
.bg-img-home-ad-mj{background-image: url('../../assets/images/maxJump.jpg'); background-size: cover; background-repeat: no-repeat;}

.nav-button {
    border: 2px solid white;
    background-color: white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.shadow-box{box-shadow: 6px 4px 20px -1px rgba(107,107,107,0.62);}