@import "bootstrap";
@import "color_palette.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



h1 { color: #00A1E0; font-family: 'Montserrat', sans-serif;}
p{color: #2D465A; font-family: 'Montserrat', sans-serif;}
h3 {color: $grey;font-family: 'Montserrat', sans-serif;}
h4 {color: $grey;font-family: 'Montserrat', sans-serif;}
li {color: $grey;font-family: 'Montserrat', sans-serif;}
a{color: #E76F27;font-family: 'Montserrat', sans-serif;}
strong {color: $dk-blue; font-family: 'Montserrat', sans-serif;}
.tmc-bg-grey{background-color: $grey;}
.tmc-bg-dk-blu{background-color: $dk-blue;}
.tmc-orng{color: #E76F27; font-family: 'Montserrat', sans-serif;}
.tmc-bg-orng{background-color: $orange;}
.tmc-white{color: white;font-family: 'Montserrat', sans-serif;}
.tmc-bg-white{background-color: white;}
.tmc-dk-blu{color: #2D465A; font-family: 'Montserrat', sans-serif;}
.tmc-blu{color: #00A1E0; font-family: 'Montserrat', sans-serif;}
.tmc-bg-blu{background-color: #00A1E0;}

.btn-primary{background-color: $blue ; border:0px ;font-family: 'Montserrat', sans-serif;}
.box-rnd{border-radius: 15px;}

.nest-col{display: "flex"; justify-content: "center"; flex-direction:"column"; align-items:'center'; padding:0;margin:5px;}
.nested-row{padding:0;margin: 0;}
.nested-row-empty{padding:0;margin: 0; height: 100%;}

.no-pad{padding:0;}
.pad-5{padding:5px;}
.pad-x-5{padding-left: 5px;padding-right: 5px; padding-top: 0; padding-bottom: 0;}
.pad-y-5{padding-top: 5px;padding-bottom: 5px; padding-right: 0;padding-left: 0;}

.allow-breaks{white-space: pre-wrap;}
.just-c-between{display: flex; justify-content:space-between;}
.center-flex{display: flex; justify-content:center;align-items:center; ;}
.center-spread{display: flex; justify-content:space-between; align-items:center;}

.bg-img-home-ad{background-image: url('../../assets/images/pkPrivate.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 25% 25%;}
.bg-img-home-ad-wt{background-image: url('../../assets/images/woodTrainer.jpg'); background-size: cover; background-repeat: no-repeat;background-position: 60% 30%;}
.bg-img-home-ad-mj{background-image: url('../../assets/images/maxJump.jpg'); background-size: cover; background-repeat: no-repeat;background-position: 50% 30%;}

.nav-button {
    border: 2px solid white;
    background-color: white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.shadow-box{box-shadow: 6px 4px 20px -1px rgba(107,107,107,0.62);}



.lesson-menu-item-wrapper{border-color: $dk-blue; border-style: outset ; color: $white; }
.lesson-menu-item-wrapper:hover{ background-color: $orange; }
.lesson-menu-item-wrapper:active{border-style: inset; box-shadow:none ;}